<main>
  <section class="form-section">
    <img src="/assets/svg/logo_240_x_100.png"/>
    <h2 class="title">{{title}}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button class="btn-primary"
              (click)="submit()"
              [disabled]="disablePrimaryBtn"
              >
              {{primaryBtnText}}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{secondaryBtnText}}</button>
    </div>
  </section>
  <section class="main-section">
    <h1>Os melhores imóveis estão aqui!</h1>
    <!-- <img src="/assets/svg/main-illustration.svg"/> -->
    <img class="image-principal" src="/assets/svg/bg_3d_597_x_482.png"/>
  </section>
</main>
